In [ ]:
# Data Set = https://www.kaggle.com/uciml/iris?select=Iris.csv

In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
plt.style.use("seaborn-whitegrid")
import seaborn as sns
from collections import Counter
import warnings
warnings.filterwarnings("ignore")
from sklearn.model_selection import train_test_split,GridSearchCV, StratifiedKFold

In [22]:
data=pd.read_csv("https://raw.githubusercontent.com/kokila-Manogar/Iris-classification/main/Iris.csv" , index_col = 'Id') 
data.head()

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
Id
1             5.1           3.5            1.4           0.2  Iris-setosa
2             4.9           3.0            1.4           0.2  Iris-setosa
3             4.7           3.2            1.3           0.2  Iris-setosa
4             4.6           3.1            1.5           0.2  Iris-setosa
5             5.0           3.6            1.4           0.2  Iris-setosa

In [23]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150 entries, 1 to 150
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SepalLengthCm  150 non-null    float64
 1   SepalWidthCm   150 non-null    float64
 2   PetalLengthCm  150 non-null    float64
 3   PetalWidthCm   150 non-null    float64
 4   Species        150 non-null    object
dtypes: float64(4), object(1)
memory usage: 7.0+ KB

In [24]:
data.describe()

       SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count     150.000000    150.000000     150.000000    150.000000
mean        5.843333      3.054000       3.758667      1.198667
std         0.828066      0.433594       1.764420      0.763161
min         4.300000      2.000000       1.000000      0.100000
25%         5.100000      2.800000       1.600000      0.300000
50%         5.800000      3.000000       4.350000      1.300000
75%         6.400000      3.300000       5.100000      1.800000
max         7.900000      4.400000       6.900000      2.500000

In [25]:
data.dropna(axis=0, subset=['Species'], inplace=True)
y = data.Species
data.drop(['Species'], axis=1, inplace=True)

In [27]:
X = data
X.head()

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
Id
1             5.1           3.5            1.4           0.2
2             4.9           3.0            1.4           0.2
3             4.7           3.2            1.3           0.2
4             4.6           3.1            1.5           0.2
5             5.0           3.6            1.4           0.2

In [28]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

In [29]:
from sklearn.svm import SVC

svm = SVC(kernel = 'linear', C = 1.0, random_state = 42)
svm.fit(X_train, y_train)
y_train_preds = svm.predict(X_train)
y_test_preds = svm.predict(X_test)

In [30]:
from sklearn.metrics import accuracy_score
print('train accuracy:', accuracy_score(y_train, y_train_preds))
print('test accuracy:', accuracy_score(y_test, y_test_preds))

train accuracy: 0.975
test accuracy: 1.0

In [31]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_test_preds))

                 precision    recall  f1-score   support

    Iris-setosa       1.00      1.00      1.00        10
Iris-versicolor       1.00      1.00      1.00         9
 Iris-virginica       1.00      1.00      1.00        11

       accuracy                           1.00        30
      macro avg       1.00      1.00      1.00        30
   weighted avg       1.00      1.00      1.00        30

In [32]:
from sklearn.svm import SVC
from sklearn.metrics import mean_absolute_error
svm = SVC(kernel = 'linear', C = 1.0, random_state = 42)
svm.fit(X_train, y_train)
y_preds = svm.predict(X)

print('Accuracy:', accuracy_score(y, y_preds))

Accuracy: 0.98

In [33]:
from sklearn.linear_model import LogisticRegression
LR = LogisticRegression()

In [34]:
LR.fit(X_train,y_train)
print(LR.score(X_test,y_test))

1.0

In [35]:
y_pred = LR.predict(X_test)
y_predT = LR.predict(X_train)

In [36]:
print(classification_report(y_test,y_pred))

                 precision    recall  f1-score   support

    Iris-setosa       1.00      1.00      1.00        10
Iris-versicolor       1.00      1.00      1.00         9
 Iris-virginica       1.00      1.00      1.00        11

       accuracy                           1.00        30
      macro avg       1.00      1.00      1.00        30
   weighted avg       1.00      1.00      1.00        30

In [37]:
from sklearn.tree import DecisionTreeClassifier
D = DecisionTreeClassifier()

In [38]:
D.fit(X_train,y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [39]:
print(D.score(X_test,y_test))

1.0

In [40]:
y_predD = D.predict(X_test)